<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/share.css">

</head>
<body>
<div id="app">
    <div style="padding:15px 0;">
    <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>股票管理</el-breadcrumb-item>
        <el-breadcrumb-item>股票列表</el-breadcrumb-item>
    </el-breadcrumb>
    </div>

    <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="代码">
            <el-input v-model="formInline.stock_code" placeholder="股票代码"></el-input>
        </el-form-item>
        <el-form-item label="名称">
            <el-input v-model="formInline.stock_name" placeholder="股票名称"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSearch">查询</el-button>
        </el-form-item>
        <el-button type="primary" icon="el-icon-edit" @click="dialogFormVisible = true"></el-button>
    </el-form>

    <el-dialog title="股票信息" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-input type="hidden" v-model="form.id" autocomplete="off"></el-input>
            <el-form-item label="股票代码" :label-width="formLabelWidth">
                <el-input v-model="form.stock_code" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="股票名称" :label-width="formLabelWidth">
                <el-input v-model="form.stock_name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="交易所" :label-width="formLabelWidth">
                <el-radio v-model="form.stock_type" label="SZ">深交所</el-radio>
                <el-radio v-model="form.stock_type" label="SH">上交所</el-radio>
            </el-form-item>
            <el-form-item label="描述" :label-width="formLabelWidth">
                <el-input v-model="form.description" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="状态" :label-width="formLabelWidth">
                <el-radio v-model="form.status" label="1">上市</el-radio>
                <el-radio v-model="form.status" label="0">退市</el-radio>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="onPost">确 定</el-button>
        </div>
    </el-dialog>

    <template>
        <el-table
                ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%"
                height="450">
            <el-table-column
                    prop="stock_code"
                    label="代码"
                    fixed
                    width="130">
            </el-table-column>
            <el-table-column
                    prop="stock_name"
                    label="名称"
                    fixed
                    width="130">
            </el-table-column>
            <el-table-column
                    prop="stock_type"
                    label="地域"
                    fixed
                    width="130">
            </el-table-column>
            <el-table-column
                    prop="industry_board"
                    label="行业"
                    width="120">
            </el-table-column>
            <el-table-column label="操作" fixed="right" width="180">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="handleEdit(scope.$index, scope.row)">编辑
                    </el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <div class="block" style="margin-top:5px;">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 50, 100]"
                    :page-size="100"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="dataTotal">
            </el-pagination>
        </div>
    </template>

</div>

</body>
<script src="/vuejs/axios.min.js"></script>
<!-- import Vue before Element -->
<script src="/vuejs/vue.js"></script>
<!-- import JavaScript -->
<script src="/vuejs/element-ui.js"></script>
<script src="/script/global.js?v=12"></script>
<script src="./script/stock-list.js?v=12"></script>
</html>